import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from sklearn import preprocessing, cluster
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import scipy
from scipy.spatial.distance import cdist
import math
import minisom
import warnings
warnings.filterwarnings('ignore')
import streamlit as st
from streamlit_folium import st_folium,folium_static

from ortools.constraint_solver import routing_enums_pb2
from ortools.constraint_solver import pywrapcp

from spectral_equal_size_clustering import SpectralEqualSizeClustering